/* If you're using npm or yarn */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic&display=swap');

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

.background{

  background-image: url('./assets//images/pexels-hngstrm-3137890.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  }
